body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

header .logo {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px 0;
}

.contact-info {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h1, .contact-info p {
    text-align: center;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact-form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b71616;
}

footer {
    background-color: #b31313;
    color: white;
    text-align: center;
    padding: 10px 0;
}
