body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px 0;
}

header .logo {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

.faq {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-item {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.faq-item h3 {
    margin: 0;
}

.faq-item p {
    margin: 5px 0;
}

footer {
    background-color: #bb2323;
    color: rgb(236, 227, 227);
    text-align: center;
    padding: 10px 0;
}
